.userInfo {
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 50px;


    h{
      align-items: center;
      gap: 400px;
    }
  }
}