.sider{
       background: transparent;
       flex: 0 0 250px;
       max-width: 250px;
       min-width: 250px;
       width: 250px;
}
.ant-layout-sider-children{
       height: 100% !important;
    margin-top: -0.1px !important;
    padding-top: 0.1px !important;
}
.ant-drawer-content{
       background-color: #fff !important;
      
}
.TopHeader{
       box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
       width: 100%;
}