.chatList {
  flex: 1;
  overflow: auto;
  scrollbar-width: thin;
  scrollbar-color: #255 #111;

  
    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;
      height: 200px;
      margin: 50% auto;
      background-color: rgba(21, 86, 19, 0.350);
      backdrop-filter: blur(19px) saturate(180%);
      border-radius: 10px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      font-size: 18px;
      font-weight: bold;
  }
  
  
}
