
  
  .home {
       
       background-size: cover;
       padding: 20px;
     }
     
     .title {
       font-size: 36px;
       font-weight: bold;
     }
     
     .amenities {
       list-style-type: none;
       padding: 0;
     }
     
     .amenities li {
       font-size: 20px;
     }