:root {
  /* --navbar: #2f55ac; */
}

body {
  padding: 0;
  margin: 0;
}
.brand {
}
.logo {
  background-repeat: no-repeat;
  width: auto;
}
.navbar-toggler {
  /* display: block; */
  background-color: aliceblue;
}
.navbar{
  /* background-color: var(--navbar); */

}
.navlinks {
  align-content: center;
}
.navlink {
  opacity: 1;
  text-decoration: none;
  /* color: rgb(238, 237, 237); */
  font-weight: 350;
  font-size: 3.5ch;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  transition: font-size 0.3s ease-in-out, transform 0.3s ease-in-out, text-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}

.navlink:hover {
  font-size: 3.4ch;
  /* color: #2c2c30; */
  transform: scale(1.1);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: font-size 0.5s ease-in-out, transform 0.5s ease-in-out, text-shadow 0.5s ease-in-out, color 0.5s ease-in-out;
}
@media screen and (max-width: 1200px) {
  .profile {
    text-align: center;
  }
  .Ntoggler {
    display: flex;
    justify-content: center;
    margin: 0 auto; /* Ensures the element is centered */
  }
}
@media screen and (max-width: 900px) {
  .navlink {
    font-size: 3ch;
  }
  .firstGrid{
    align-items: center;
    justify-content: center;
  }
  
}
/* 769 px higher */
@media screen and (min-width: 768px) {
  
}
@media screen and (max-width: 480px) {
  .navlink {
    font-size: 2.5ch;
    text-align: center;
  }
  
  .firstGrid{
    align-items: center;
    justify-content: center;
  }
  .secondGrid{
margin-top: 1ch;
  }
  .nav-item {
    text-align: center;
  }
}

